In [1]:
import pandas as pd

In [2]:
input_file = "../data/features/val_raul.pkl"
df = pd.read_pickle(input_file)

In [6]:
df.head(2)

,Survived,Age,SibSp,Parch,Fare,Is_Married,Fsize,Pclass_1,Pclass_2,Pclass_3,...,Embarked_Q,Embarked_S,Title_Master,Title_Military/Politician/Clergy,Title_Miss,Title_Mr,TypeF_large,TypeF_medium,TypeF_single,TypeF_small
PassengerId,,,,,,,,,,,,,,,,,,,,,
1-validation,False,22.0,1,0,7.2500,False,2,0,0,1,...,0,1,0,0,0,1,0,0,0,1
2-validation,True,38.0,1,0,71.2833,True,2,1,0,0,...,0,0,0,0,1,0,0,0,0,1

In [7]:
df.to_json("/home/raul/Desktop/validation.json")