In [18]:
import sys
sys.path.append("../src/")
import my_functions
import pandas as pd

In [19]:
df = pd.read_csv("../data/raw/val.csv", sep=";")

In [20]:
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [21]:
df["Ticket"] = my_functions.extract_ticket_prefix(df["Ticket"])

In [23]:
type(df["Ticket"])

pandas.core.series.Series

In [26]:
 type(pd.Series({"Ticket":["A5", "PC", "ST0N02", "X", "X"]}))

pandas.core.series.Series